DATABASER_LOG_LEVEL=""
DATABASER_TEST_MODE=""
DATABASER_SRC_DB_HOST=""
DATABASER_SRC_DB_PORT=""
DATABASER_SRC_DB_NAME=""
DATABASER_SRC_DB_USER=""
DATABASER_SRC_DB_PASSWORD=""
DATABASER_DST_DB_HOST=""
DATABASER_DST_DB_PORT=""
DATABASER_DST_DB_NAME=""
DATABASER_DST_DB_USER=""
DATABASER_DST_DB_PASSWORD=""
DATABASER_KEY_TABLE_NAME=""
DATABASER_KEY_COLUMN_NAMES=""
DATABASER_KEY_COLUMN_VALUES=""
DATABASER_KEY_TABLE_HIERARCHY_COLUMN_NAME="parent_id"
DATABASER_EXCLUDED_TABLES=""
DATABASER_TABLES_WITH_GENERIC_FOREIGN_KEY=""
DATABASER_IS_TRUNCATE_TABLES=
DATABASER_TABLES_TRUNCATE_INCLUDED=
DATABASER_TABLES_TRUNCATE_EXCLUDED=
DATABASER_VALIDATE_DATA_BEFORE_TRANSFERRING=""