LOG_LEVEL=
TEST_MODE=
SRC_DB_HOST=
SRC_DB_PORT=
SRC_DB_NAME=
SRC_DB_USER=
SRC_DB_PASSWORD=
DST_DB_HOST=
DST_DB_PORT=
DST_DB_NAME=
DST_DB_USER=
DST_DB_PASSWORD=
KEY_TABLE_NAME=
KEY_COLUMN_NAMES=
KEY_COLUMN_IDS=
EXCLUDED_TABLES=
TABLES_WITH_GENERIC_FOREIGN_KEY=
TRUNCATE_EXCLUDED_TABLES=
VALIDATE_DATA_BEFORE_TRANSFERRING=